extends layouts/frontend

include mixins

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Bienvenue sur<strong> TITANIC_ANALYSER </strong> 
            p Cette application permet d'afficher les survivants ou les morts du Titanic en fonction du sex, de l'age et de la classe des billets.
            p Pour profiter pleinement des fonctionnalités présentes et même futures de l'application, il faudra avoir un compte utilisateur.
            p Vous trouverez ci-dessous un lien permet de vous inscrire.
            a.item(href="/inscription", class=(currentRoute === "/inscription" ? "active" : ""))
                        i.hand.point.right.icon
                        | inscrivez-vous  