extends layouts/frontend

include mixins

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Bienvenue sur<strong> TITANIC_ANALYSER </strong> 
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione consequatur dicta ea perferendis. Illum laborum culpa cupiditate beatae itaque ex explicabo alias dignissimos voluptatum a, error, iusto animi libero officiis!
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut iure in sunt a explicabo sequi reiciendis accusamus odio! Corporis neque ex, necessitatibus quas provident vitae sapiente perspiciatis ipsa commodi!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae eius repellendus eveniet dolor labore cum sunt optio tenetur, exercitationem voluptas nesciunt iste harum maiores minus, saepe minima eligendi. Delectus, similique!
            a.item(href="/inscription", class=(currentRoute === "/inscription" ? "active" : ""))
                        i.home.icon
                        | inscrivez-vous  