extends layouts/frontend

include mixins

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Merci d'avoir uilisé <strong> TITANIC_ANALYSER </strong> 
            p Vous trouverez dans le tableau ci-dessous le résultat de l'analyse
                h3.ui.center.aligned.header Tableau d'analyse
                .ui.conteneur
                  table.ui.celled.table.center.aligned 
                   thead 
                    tr
                     th Nom et Prenom
                     th Sexe
                     th Age
                     th Statut 
                   each passenger in passengerList 
                    tr 
                     td= passenger.Name
                     td= passenger.Sex
                     td= passenger.Age
                     td= passenger.Survived
            p Veuillez cliquer sur le boutton ci-dessous
                i.hand.point.down.icon
                | pour effectuer une nouvelle analyse
            a.item(href="/dashboard", class=(currentRoute === "/dashboard" ? "active" : ""))
                    | <button>RESET</button>