extends layouts/frontend

include mixins

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Mon Tableau de Bord

            p Bienvenue sur<strong> TITANIC_ANALYSER </strong> 
            p Vous pouvez démarrez votre analyse après avoir remplir le formulaire ci-dessous!!