extends layouts/frontend

include mixins

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Merci d'avoir uilisé <strong> TITANIC_ANALYSER </strong> 
            p Vous trouverez dans le tableau ci-dessous le résultat de l'analyse
            
            each passenger in passengerList 
                div= passenger.Name
            p Veuillez cliquer sur le boutton ci-dessous
                i.hand.point.down.icon
                | pour effectuer une nouvelle analyse
            a.item(href="/dashboard", class=(currentRoute === "/dashboard" ? "active" : ""))
                    | <button>RESET</button>