extends layouts/frontend

include mixins

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
            h1 Mon Tableau de Bord

            p Bienvenue sur<strong> TITANIC_ANALYSER  #{loggedUser.firstName} #{loggedUser.lastName} !  </strong> 
            p Vous pouvez démarrez votre analyse après avoir remplir le formulaire ci-dessous!!
             i.hand.point.down.icon
             i.hand.point.down.icon
             i.hand.point.down.icon
            if errorMessage
                .ui.error.message!= errorMessage
            //- un formulaire qui me redirigerar sur la page analyser
            form.ui.large.form(method="post", action="/dashboard")
                .ui.stacked.segment
                    +field('text', 'sexe', 'Sexe', values && values.sexe)
                    +field('number', 'age', 'Âge', values && values.age)
                    +field('number', 'classe', 'Classe', values && values.classe)
                    button(type="submit").ui.fluid.large.teal.submit.button Analyser 
                     i.search.icon